* {
    font-family: Verdana;
}

.jumbotron {
    
    float: center;
    text-align: center;
    border: 3px white; 
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    background-image: radial-gradient(rgb(243, 114, 114), rgb(252, 252, 185));
}



h1 {
    text-align: center;
    color: rgb(137, 32, 32);
    margin-top: 5px;
}

h2 {
    text-align: left;
    color: #000;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 40px;
    text-shadow: 2px 2px rgb(216, 189, 189);
    text-decoration-line: underline;
}
body{
   
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.sir-form{
    background: #000; 
    margin-top: 10%;
    margin-bottom: 5%;
    width: 90%;
    border: 5px solid orange; 
} 
.sir-form .form-control{
    border-radius:1rem;
}

.forma-form form{
    padding: 3%;
} 

.forma-form form .row{
    margin-bottom: -7%;
}

 .forma-form h3{
    margin-bottom: 8%;
    text-align: center;
    color: yellowgreen;
} 

.forma-form {
    width: 80%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: rgba(160, 62, 129, 0);
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}


div.modal-content, div.container.sir-form {

    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    
}

div.modal-header{
    background-color: #9dff4d;
}

#myModal div.modal-content{
    height: 650px;
}

.row{
    height: 70px;
}  

.col-md-4{
    margin-top: 18px;
} 

#pregled{
    margin-left: 200px;
    margin-right: 200px;
    background-color: rgba(225, 225, 208, 0.5);
}

.thead{
    font-size: 20px;
    text-align: center;
}

#btn-sortiraj{
    font-size: 18px;
    border-radius: 28px; 
    background-color: rgb(155, 44, 44);
    border-color: rgb(162, 12, 87);
    color: white;
}

:placeholder-shown{
    width: 300px;
    height: 30px;
}

.search-filed{
    width:350px; 
    height:36px; 
    float:left;
    text-indent:5px;
    font-family: 'Open Sans', sans-serif;
    font-size:13px; 
    color:black;}

.search ul li{
    list-style-type:none; 
    float:left;
     border:none;
     display:block;}

.libg{background:white; 
    width:350px;
     text-indent:5px;}
.libg ::marker{
    color:white;
}
ul{
    list-style-type:none;
}

#tabela {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    padding:15px;
    width:100%;
    border:1px solid #000000;
    max-width: 100%;
    margin-bottom: 20px;
    text-align: left;
}
#tabela td{
    color: white;
    font-weight: bold;
}

#lbl{
    margin-top: 20px;
    margin-left: 40px;
}
.right-panel{
    margin-left: 40px;
    margin-bottom: 100px;
}
.contact-panelpadding-bottom{
    border-color: rgb(255, 0, 170);
}

.col-md-2{
    float: right;   
}

.form-txt{
    width: 350px;
    height: 36px;
}
.main-div {
    /*background: #ffffff none repeat scroll 0 0;*/
    border-radius: 2px;
    margin: 10px auto 30px;
    max-width: 38%;
    padding: 50px 70px 70px 71px
}
#ftr{
    margin-top: 250px;
}
#delftr{
    margin-top: 50px;
}